.board {
    text-align: center;
    .header {
        height: 10vh;
    }

    .grid {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

        &Row {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    .footer {
        height: 10vh;

        button {
            display: inline-block;
            border: none;
            border-radius: 5px;
            padding: 1rem 2rem;
            margin: 10px;
            background-color: #0069ed;
            color: #fff;
            font-family: inherit;
            font-size: 1rem;
            line-height: 1;
            cursor: pointer;
            text-align: center;
            transition: background 250ms ease-in-out, transform 150ms ease;

            &.pauseBtn {
                background-color: rgb(238, 206, 24);
                border-style: solid;
                &:hover {
                    background-color: darken(rgb(238, 206, 24), 10%);
                }
            }
            &.startBtn {
                background-color: rgb(135, 199, 39);
                border-style: solid;
                &:hover {
                    background-color: darken(rgb(135, 199, 39), 10%);
                }
            }
            &.resetBtn {
                background-color: rgba(255, 60, 0, 0.808);
                border-style: solid;
                &:hover {
                    background-color: darken(rgba(255, 60, 0, 0.808), 10%);
                }
            }

            &:hover {
                background-color: darken(#0069ed, 10%);
            }
        }

        .speedSlider {
            display: inline-block;
            .input {
                height: 100%;
            }
        }
    }
}
